.container{
  display:flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  margin:0% 4% 4% 4%;
  height:100px;
  justify-content: space-evenly;
}

.adult_child{
  flex:1;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


.name{
  display: flex;
  flex-direction: column;
}

.content{
  font-weight:700;
  font-size: 16px;
  line-height: 20px;
}

.age{
  font-size: 16px;
  font-weight:100;
  line-height: 20px;
  color:rgb(46, 46, 46);
}


.number{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 2px;
  width:35%;
  margin: 1% 0% 1% 0%;
}

.minus_plus{
  padding: 5px 20px ;
  cursor: pointer;
  font-size: 25px;
  color: #4a4a4a;
  font-weight: lighter;
}

.digit{
  font-size: 18px;
  align-self: stretch;
  padding-top: 8%;
}
.button{
  cursor: pointer;
  font-size: 25px;
  color: #4a4a4a;
  font-weight: lighter;
  border:0px;

}
