.body{
    font-family: Arial,sans-serif!important;
    font-size: medium;
}

.tourplanner{
    border: 1px solid #e0e0e0;
    border-top: 4px solid #078171;
    width: 25%;
    min-height: 30%;
    height: auto;
    background: #fff;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}

