.container {
  display:flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
  margin:0px 0px 20px 0px;
  height:200px;
  justify-content: center;
}

.month_date {
  width:44%
}

.line{
  width:1px;
  background-color:rgb(226, 226, 226);
}

.leftarrow{
  width: 1.5%;
  align-self: flex-start;
  text-align: end;
  border-radius: 50%;
  border:2px solid;
  padding:2px;
  color: #078171;
  cursor: pointer;
}

.rightarrow{
    width: 1.5%;
    align-self: flex-start;
    text-align: start;
    border-radius: 50%;
    border:2px solid;
    padding:2px;
    color: #078171;
    cursor: pointer;
}

.arrowR{
  border: solid #078171;;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(-45deg);
}

.arrowL{
  border: solid #078171;;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(135deg);
}
