

.header {
    display:flex;
    align-items: stretch;
    flex-direction: column;
    margin:0;
    padding:0;
    height:100%;
    justify-content: center;
}

.header_price {
    height:60%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.date_travelers{
    margin-top: 4px;
    font-weight: 700;
    color: #000a12;
    padding-left: 1em;
    font-size:22px;

}

.from_rate {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-left: 8px;
    padding-right: 10px;
    margin-top:2%;
}

.from {
    text-align: right;
    color: #4a4a4a;
    font-size: 12px;
    line-height: 16px;
}
.rate{
    color:#000a12;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.dates_adults_options {
    height:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5em 1em 1.5em 1em;


}

.dates_adults_options_btn:hover {
  background-color: #f3f1f1
}

.dates_adults_options_btn{
    cursor:pointer;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    flex-grow: 1;
    margin: 0 4px;
    flex-basis: 50%;
    vertical-align: center;
    text-align: center;
    border-radius: 5px;
    display:flex;
}

.icons{
    margin: 10px 15px 0px 15px;

}
